<h1 class="animated fadeIn fast">Sobre Comic APP</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce molestie elit vel fermentum tempus. Mauris sed ex eget tortor egestas pellentesque. Quisque finibus, purus consectetur condimentum ornare, arcu sapien lacinia arcu, non egestas ex dolor ut mauris. Phasellus facilisis lectus vel lorem venenatis, in maximus nulla efficitur. Maecenas vitae consequat purus, ut feugiat turpis. Vestibulum sagittis sagittis vulputate. Nulla suscipit rutrum augue sed venenatis. Curabitur sed urna eu tortor malesuada congue non eu mi.
</p>
