/*.app-footer{
  bottom: 0;
  width: 100%;
}*/

#footer {
  position: absolute;
  width: 100%;
  background-color: #636363; }

#footer > .container {
  margin: 0 auto; }

.top-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
.folders{
  width: auto;
  height: 100px;

}

/*ANIMACIONES*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
